/node_modules




# git init && git remote add origin <remote-repo-url> &&
#  git remote -v && git add . && git commit -m 'matn' && 
#  git checkout -b 'branch-nomi' && git push -u origin 'branch-nomi'
