* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.conteyner {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header__list {
    display: flex;
    gap: 68px;
}

.header__item {
    color: #373737;
}

.header__line {
    border-radius: 2px;
    width: 23px;
    height: 3px;
}